<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
>
  <head>
    <title>Athena notification</title>
    <!--[if !mso]><!-- -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
      #outlook a {
        padding: 0;
      }

      .ReadMsgBody {
        width: 100%;
      }

      .ExternalClass {
        width: 100%;
      }

      .ExternalClass * {
        line-height: 100%;
      }

      body {
        margin: 0;
        padding: 0;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
      }

      table,
      td {
        border-collapse: collapse;
      }

      img {
        border: 0;
        height: auto;
        line-height: 100%;
        outline: none;
        text-decoration: none;
        -ms-interpolation-mode: bicubic;
      }

      p {
        display: block;
        margin: 13px 0;
      }
    </style>
    <!--[if !mso]><!-->
    <style type="text/css">
      @media only screen and (max-width: 480px) {
        @-ms-viewport {
          width: 320px;
        }
        @viewport {
          width: 320px;
        }
      }
    </style>

    <style type="text/css">
      @media only screen and (min-width: 480px) {
        .mj-column-per-100 {
          width: 100% !important;
        }
      }
    </style>

    <style type="text/css"></style>
  </head>

  <body style="background-color: #f9f9f9">
    <p>Dear <strong>our customer,</strong></p>
    <p>
      Your mentoring session is now confirmed. Below are the finalized details
      for your session:
    </p>
    <h3>Session Details:</h3>
    <ul>
      <li><strong>Mentor:</strong> <%= mentorName %></li>
      <li><strong>Date:</strong> <%= dateStr %></li>
      <li>
        <strong>Time:</strong> <%= startTimeStr %> (GMT+7) - <%= endTimeStr %>
        (GMT+7)
      </li>
      <li><strong>Meeting Platform:</strong> Google Meet</li>
      <li><strong>Meeting Link:</strong> <%= meetLink %></li>
      <li>
        <strong>Instruction: </strong>
        If you have any questions or need further assistance, feel free to
        contact us at support@studyathena.com
      </li>
    </ul>
    <strong>Payment Instructions:</strong>
    <p>
      To confirm your booking, please complete your payment within 5 hours of
      receiving this email. Failure to complete the payment within this
      timeframe will result in the automatic cancellation of your session.
    </p>
    <h3>Maximize Your Session Value!</h3>
    <p>
      Get the most out of your mentoring session by running Athena’s Chancing
      Engine now! It calculates your chances of getting into top schools and
      gives valuable insights for your mentor.
    </p>
    <strong
      ><a href="https://studyathena.com"
        >👉 [Run the Chancing Engine Now]</a
      ></strong
    >

    <p>
      We’re excited to support you in achieving your goals during this session!
    </p>
    <p>Best regards,</p>
    <strong>Athena</strong>
  </body>
</html>
