<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
>
  <head>
    <title>Athena notification</title>
    <!--[if !mso]><!-- -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
      #outlook a {
        padding: 0;
      }

      .ReadMsgBody {
        width: 100%;
      }

      .ExternalClass {
        width: 100%;
      }

      .ExternalClass * {
        line-height: 100%;
      }

      body {
        margin: 0;
        padding: 0;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
      }

      table,
      td {
        border-collapse: collapse;
      }

      img {
        border: 0;
        height: auto;
        line-height: 100%;
        outline: none;
        text-decoration: none;
        -ms-interpolation-mode: bicubic;
      }

      p {
        display: block;
        margin: 13px 0;
      }
    </style>
    <!--[if !mso]><!-->
    <style type="text/css">
      @media only screen and (max-width: 480px) {
        @-ms-viewport {
          width: 320px;
        }
        @viewport {
          width: 320px;
        }
      }
    </style>

    <style type="text/css">
      @media only screen and (min-width: 480px) {
        .mj-column-per-100 {
          width: 100% !important;
        }
      }
    </style>

    <style type="text/css"></style>
  </head>

  <body style="background-color: #f9f9f9">
    <p>Dear <strong>our customer,</strong></p>
    <p>
      We regret to inform you that your payment for the mentoring session with
      <%= mentorName %> was not completed within the required timeframe. As a
      result, your session booking has been automatically cancelled.
    </p>
    <h3>Session Details (Cancelled):</h3>
    <ul>
      <li><strong>Mentor:</strong> <%= mentorName %></li>
      <li><strong>Date:</strong> <%= dateStr %></li>
      <li>
        <strong>Time:</strong> <%= startTimeStr %> (GMT+7)- <%= endTimeStr %>
        (GMT+7)
      </li>
    </ul>
    <p>
      If this was unintentional, you are welcome to rebook the session by
      selecting a new time and completing the payment promptly.
    </p>
    <!-- <strong>Payment Instructions:</strong>
    <p>
      To confirm your booking, please complete your payment within 5 hours of
      receiving this email. Failure to complete the payment within this
      timeframe will result in the automatic cancellation of your session.
    </p> -->
    <p>
      For assistance or questions, please reach out to us at
      support@studyathena.com
    </p>
    <p>We hope to support you in the future and help you achieve your goals!</p>
    <p>Best regards,</p>
    <strong>Athena</strong>
  </body>
</html>
